<html>
  <body style="background-color:rgb(66, 190, 194)">
    <h1><center>Welcome!</center><h1>
        <form action="/add-bookmark" method="post">
        <label for="bookmark">
        Add New Bookmark
        <input type="text" name="bookmark" placeholder="Enter url" required>
        <input type="text" name="title" placeholder="Enter Title" required>
        <input type="submit" value="Submit">
      </form>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><a href=<%=bookmark.url%>><%= bookmark.title %></a>
        <form class="" action="/delete-bookmarks" method="post">
          <input type="submit" name="<%= bookmark.id %>" value="Delete">
        </form>
        <form action="/update-bookmark" method="post">
          <input type="text" name="update_bookmark" placeholder="update bookmark?">
          <input type="submit" name="<%= bookmark.title %>" value="Update">
        </form><br>
        <ul>
          <% @comments.each do |comment| %>
          <form action="/comment" method="post">
            <input type="text" name="comment" placeholder="comment">
            <input type="submit" name="<%= comment.id %>" value="Comment">
            <% end %>
          </form>
        </ul>
      </li>
    <% end %>
  </ul>
  </body>
</html>

<%= flash[:notice] %>

